<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <h5 class="my-4">Filters</h5>
      <div *ngFor="let filter of boardResponse.result.filters">
        <app-filter-item *ngIf="filter" [filter]="filter"></app-filter-item>
      </div>
    </div>

    <div class="col-lg-9">
      <h5 class="my-4">Boards</h5>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let board of boardResponse.result.values">
          <app-board-list-item [board]="board"></app-board-list-item>
        </div>
      </div>
      <app-pagination
        [page]="boardResponse.result.page"
        [pages]="boardResponse.result.totalPages"
        (requestedPage)="getNewPage($event)">
      </app-pagination>
    </div>

  </div>
</div>
