<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <app-filtering
        [filters]="boardResponse.result.filters"
        (requestedFilters)="getBoardsByFilters($event)">
      </app-filtering>
    </div>

    <div class="col-lg-9">
      <h5 class="my-4">Boards</h5>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let board of boardResponse.result.values">
          <app-board-list-item [board]="board"></app-board-list-item>
        </div>
      </div>
      <app-pagination
        [page]="boardResponse.result.page"
        [pages]="boardResponse.result.totalPages"
        (requestedPage)="getNewPage($event)">
      </app-pagination>
    </div>

  </div>
</div>
