<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="{{page==0 ? 'page-item disabled' : 'page-item'}}">
      <button class="page-link" (click)="getNewPage(page - 1)" tabindex="-1">Previous</button>
    </li>

    <li
      *ngFor='let item of counter(pages) ;let itemIndex = index'
      class="{{page==itemIndex ? 'page-item active' : 'page-item'}}">
      <button class="page-link" (click)="getNewPage(itemIndex)">{{itemIndex+1}}</button>
    </li>

    <li class="{{page+1==pages ? 'page-item disabled' : 'page-item'}}">
      <button class="page-link" (click)="getNewPage(page + 1)">Next</button>
    </li>
  </ul>
</nav>

